- 
  const first_left = plurk_box_width + plurk_cut_left * 2
  const second_left = plurk_box_width + plurk_cut_left * 2 + plurk_cut_width
  const third_left = plurk_box_width + plurk_cut_left * 3 + plurk_cut_width * 2

- 
  const normal_left = first_left
  const normal_top = plurk_cut_top
  const extend_left = first_left
  const extend_top = plurk_cut_top + plurk_cut_height
  const box_left = second_left
  const box_top = plurk_cut_top
  const new_left = third_left
  const new_top = plurk_cut_top
  const muted_left = third_left
  const muted_top = plurk_cut_top + plurk_cut_height
  const anonymous_left = third_left
  const anonymous_top = plurk_cut_top + plurk_cut_height * 2
  const r18_left = third_left
  const r18_top = plurk_cut_top + plurk_cut_height * 3


//- 河道
#timeline_holder.timeline-holder(style="height: 450px;")
  //- 河道的噗
  #timeline_cnt.timeline-cnt(style="padding-bottom: 0px;")
    .block_cnt(style="height: 100% !important; width: 100% !important; left: 0px; transition: left 90ms linear 0s;")
      //- 普通新噗
      .plurk.cboxAnchor.new(style=`left: ${normal_left}px; top: ${normal_top}px;`)
        table
          tbody
            tr
              //- 噗頭像
              td.td_img
                .p_img
                  a(href="javascript:;")
                    img(src="https://picsum.photos/20/20?random=21")
              //- 噗內容
              td
                .plurk_cnt
                  table
                    tbody
                      tr.tr_cnt
                        //- 噗暱稱&轉噗標示
                        td.td_qual
                          span
                            a.name(href="javascript:;") 暱稱
                        //- 發噗內容
                        td.td_cnt
                          .text_holder
                            //- 轉噗人名
                            | 這是普通外觀
              //- 回應數
              td.td_response_count
                a(href="javascript:;")
                  span.response_count 20
      //- 滑鼠移至噗
      .plurk.cboxAnchor.new.display.link_extend(style=`left: ${extend_left}px; top: ${extend_top}px;`)
        table
          tbody
            tr
              //- 噗頭像
              td.td_img
                .p_img
                  a(href="javascript:;")
                    img(src="https://picsum.photos/20/20?random=21")
              //- 噗內容
              td
                .plurk_cnt
                  table
                    tbody
                      tr.tr_cnt
                        //- 噗暱稱&轉噗標示
                        td.td_qual
                          span
                            a.name(href="javascript:;") 暱稱
                        //- 發噗內容
                        td.td_cnt
                          .text_holder
                            //- 轉噗人名
                            | 這是被滑鼠移至的外觀
                          //- 移至與展開才會出現
                          .manager
                            a.pif-edit.edit
                            a.mute.pif-volume.mute-off
                            a.pif-replurk.replurk.replurk-off
                              span 5
                            a.pif-like.like.like-off
                              span 10
                            a.pif-star.bookmark.mark-off
                            a.pif-bone.gift
                              span 1
                            a.pif-option.option
              //- 回應數
              td.td_response_count
                a(href="javascript:;")
                  span.response_count 20
      //- 展開後的噗
      .plurk.cboxAnchor.display.link_extend.plurk_box(style=`left: ${box_left}px; top: ${box_top}px;`)
        table
          tbody
            tr
              //- 噗頭像
              td.td_img
                .p_img
                  a(href="javascript:;")
                    img(src="https://picsum.photos/20/20?random=21")
              //- 噗內容
              td
                .plurk_cnt
                  table
                    tbody
                      tr.tr_cnt
                        //- 噗暱稱&轉噗標示
                        td.td_qual
                          span
                            a.name(href="javascript:;") 暱稱
                            span.qualifier.q_replurks
                              | 轉噗
                              i.pif-replurk
                        //- 發噗內容
                        td.td_cnt
                          .text_holder
                            //- 轉噗人名
                            span
                              a.name(href="javascript:;" style="color: #86CA6F;") 轉噗人名
                            span.text_holder
                              span.hashtag
                                a.hashtag(href="javascript:;") #Hashtag
                              br
                              | 這是被展開後的外觀
                              br
                              //- 普通連結
                              a.ex_link(href="javascript:;") 普通連結
                              br
                              //- 有圖連結
                              a.ex_link.meta(href="javascript:;")
                                img(src="https://picsum.photos/86/86?random=24" height="40px")
                                | 有圖連結
                              //- 圖片
                              a.ex_link.pictureservices(href="javascript:;")
                                img(src="https://picsum.photos/48/64?random=22" height="48")
                              | 圖片
                              br
                            //- 表符
                              | 表符
                              br
                              img.emoticon_my(src="https://picsum.photos/48/48?random=23" width="48" height="48")
                          //- 移至與展開才會出現
                          .manager
                            a.pif-edit.edit
                            a.mute.pif-volume.mute-off
                            a.pif-replurk.replurk.replurk-off
                              span 5
                            a.pif-like.like.like-off
                              span 10
                            a.pif-star.bookmark.mark-off
                            a.pif-bone.gift
                              span 1
                            a.pif-option.option
                  //- 展開才會出現的時間
                  .time
                    a(href="javascript:;")
                      span.posted
                        time.timeago 發噗時間
              //- 回應數
              td.td_response_count
                a(href="javascript:;")
                  span.response_count 20
      //- 新訊息新噗
      .plurk.cboxAnchor.new(style=`left: ${new_left}px; top: ${new_top}px;`)
        table
          tbody
            tr
              //- 噗頭像
              td.td_img
                .p_img
                  a(href="javascript:;")
                    img(src="https://picsum.photos/20/20?random=21")
              //- 噗內容
              td
                .plurk_cnt.new1
                  table
                    tbody
                      tr.tr_cnt
                        //- 噗暱稱&轉噗標示
                        td.td_qual
                          span
                            a.name(href="javascript:;") 暱稱
                        //- 發噗內容
                        td.td_cnt
                          .text_holder
                            //- 轉噗人名
                            | 這是新訊息外觀
      //- 消音噗
      .plurk.cboxAnchor.muted(style=`left: ${muted_left}px; top: ${muted_top}px;`)
        table
          tbody
            tr
              //- 噗頭像
              td.td_img
                .p_img
                  a(href="javascript:;")
                    img(src="https://picsum.photos/20/20?random=21")
              //- 噗內容
              td
                .plurk_cnt
                  table
                    tbody
                      tr.tr_cnt
                        //- 噗暱稱&轉噗標示
                        td.td_qual
                          span
                            a.name(href="javascript:;") 暱稱
                        //- 發噗內容
                        td.td_cnt
                          .text_holder
                            //- 轉噗人名
                            | 這是消音噗外觀
      //- 偷偷說
      .plurk.cboxAnchor(data-uid="99999" style=`left: ${anonymous_left}px; top: ${anonymous_top}px;`)
        table
          tbody
            tr
              //- 噗頭像
              td.td_img
                .p_img
                  a(href="javascript:;")
                    img(src="https://picsum.photos/20/20?random=21")
              //- 噗內容
              td
                .plurk_cnt
                  table
                    tbody
                      tr.tr_cnt
                        //- 噗暱稱&轉噗標示
                        td.td_qual
                          span
                            a.name(href="javascript:;") ಠ_ಠ
                        //- 發噗內容
                        td.td_cnt
                          .text_holder
                            //- 轉噗人名
                            | 這是偷偷說外觀
      //- R18噗
      .plurk.cboxAnchor.porn(style=`left: ${r18_left}px; top: ${r18_top}px;`)
        table
          tbody
            tr
              //- 噗頭像
              td.td_img
                .p_img
                  a(href="javascript:;")
                    img(src="https://picsum.photos/20/20?random=21")
              //- 噗內容
              td
                .plurk_cnt
                  table
                    tbody
                      tr.tr_cnt
                        //- 噗暱稱&轉噗標示
                        td.td_qual
                          span
                            a.name(href="javascript:;") 暱稱
                        //- 發噗內容
                        td.td_cnt
                          .text_holder
                            span
                              a.name(href="javascript:;" style="color:#E8AF37") 轉噗人名
                              span.porn-icon.pif-porn
                            .text_holder
                              | 這是R18噗的外觀

  //- 時間軸
  #timeline_bg.timeline-bg(style="padding-bottom: 0px;")
    #bottom_line.bottom-line(style="display: block;")
    .block_bg(style="height: 100% !important; width: 100% !important; left: 0px; transition: left 90ms linear 0s;")
      .bottom_start.day_start.div_bottom(style="left: 15px;") 今天
      .bottom_start.time_start.div_bottom(style="left: 300px;") 20:00
      #div_loading.loading-div
        .cnt
          img(src="image/loading.gif")

  //- 噗下時間
  #time_show.timeline-timeshow.morning(style=`left: ${plurk_cut_left}px;`)
    span 今天 20:00
  
  //- 往前往後按鈕
  .browse_button(style="right: 10px; top: 35%")
    .cmp_arrow_right.pif-arrow-right
    .cmp_back_to_today.pif-arrow-left Begin
  .browse_button.browse_button_last(style="left: 10px; top: 35%;")
    .cmp_arrow_left.pif-arrow-left
    .cmp_back_to_today.pif-arrow-left Begin

  //- 噗浪生物
  #dynamic_logo
    img#creature(src="image/creatures.png")